.button {
    padding: 0.5rem 1.7rem;
    border-radius: 7px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    border: none;
    font-weight: 700;
    font-size: 1.2rem;
    transition: all 0.2s;
}

.button:hover {
    background-color: var(--color-primary-dark);
}

.button__primary {
    background-color: var(--color-primary);
    color: var(--color-light);
}

.button__primary--light {
    background-color: var(--color-primary-light);
    color: var(--color-light);
}

.button--larger {
    width: 100%;
}
