:root {
    --color-primary: #ff3800;
    --color-primary-light: #f74a19;
    --color-primary-dark: #cc2d00;

    --color-secondary: #595959;

    --color-light: #fff
    --color-light-dark-1: #f1f2f4

    --color-gray: #595959

}
