/* Header */

.header-container {
    height: 80vh;
    background-image: url(../assets/header-background.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.header__title {
    color: var(--color-light);
    font-size: 2rem;
    text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
    font-weight: 700;
    text-align: center;
    padding-top: 2.5rem;
}

.header__description-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 14rem;
}

.description__text {
    color: var(--color-light);
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}

/* Main */

.main-container {
    padding: 2rem;
}

.main__title {
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 1rem 0 2.5rem 0;
}

/* Cards */

.promo__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.card-container {
    padding: 1rem;
    margin-bottom: 2rem;
    background-color: var(--color-light);
    border-radius: 5px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
    max-width: 350px;
}

.card-container__img {
    overflow: hidden;
}

.product-img {
    width: 100%;
    object-fit: cover;
}

.card__description {
    font-size: 1rem;
    max-width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card__price {
    margin-top: 1rem;
    font-weight: 700;
    font-size: 1rem;
}

.card__price-promo {
    padding: 0.3rem;
    margin-right: 0.5rem;
    border-radius: 5px;
    background-color: var(--color-primary);
    color: var(--color-light);
}

.card__price-truncated {
    margin-top: 1rem;
    font-size: 0.8rem;
}

.price-truncated {
    opacity: 0.5;
    text-decoration: line-through;
    margin-right: 0.5rem;
}

.price-discount {
    padding: 0.3rem;
    background-color: var(--color-primary);
    border-radius: 5px;
    color: var(--color-light);
    font-weight: 700;
}

.free-shipping {
    font-weight: 500;
    display: inline-block;
    margin-top: 1rem;
}

/* Form */

.register-container {
    margin-top: 2rem;
}

.register__content {
    max-width: 500px;
    margin: 0 auto;
}

.register__title {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.form {
    background-color: var(--color-light);
    border-radius: 5px;
    margin-top: 2rem;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

.form__fieldset {
    border: none;
    text-align: center;
}

.form__fieldset input {
    width: 100%;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: var(--color-light-dark);
}

.form__title {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 1rem 0 2rem 0;
}

.form button {
    margin-top: 1rem;
}

/* Footer */

.footer-container {
    width: 100%;
    background-color: var(--color-gray);
    height: 5rem;
    margin-top: 3rem;
}

.footer__copyright-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.copyright__text {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-light);
}

/* Media Queries */

@media (min-width: 540px) {
    .header__description-content {
        width: 65%;
        margin: 18rem auto;
    }
}

@media (min-width: 910px) {
    .header__title {
        text-align: left;
        margin-left: 3.5rem;
    }

    .header__description-content {
        width: 40%;
        margin: 20rem auto;
    }

    .promo__cards {
        justify-content: space-around;
        flex-direction: row;
    }

    .form {
        padding: 2rem 2rem;
    }
}
