/* Main */

.main-container {
    padding: 2rem;
}

.main__title {
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 1rem 0 2.5rem 0;
}

/* Media Queries */

@media (min-width: 540px) {
    .header__description-content {
        width: 65%;
        margin: 18rem auto;
    }
}

@media (min-width: 910px) {
    .header__title {
        text-align: left;
        margin-left: 3.5rem;
    }

    .header__description-content {
        width: 40%;
        margin: 20rem auto;
    }

    .promo__cards {
        justify-content: space-around;
        flex-direction: row;
    }

    .form {
        padding: 2rem 2rem;
    }
}
