.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;

    display: none;
}

.modal.active {
    display: flex;
}

.modal__content {
    max-width: 500px;
    padding: 2rem;
    border-radius: 5px;
    background-color: var(--color-light-dark);
}

.modal__close {
    position: relative;
    left: 95%;
    top: 0;
    cursor: pointer;
    transition: all 0.3s;
}

.modal__close::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    display: block;
    background-color: var(--color-primary);
    height: 2px;
    width: 20px;
    transform: rotate(45deg);
}

.modal__close::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    display: block;
    background-color: var(--color-primary);
    height: 2px;
    width: 20px;
    transform: rotate(-45deg);
}

.modal__title {
    font-size: 1.4rem;
    margin-top: 1rem;
    text-align: center;
}

.modal__text {
    margin-top: 1.2rem;
    font-size: 1.2rem;
    text-align: center;
}
